@page
@model Group_Project.Pages.Admins.AdminViewModel
@{
}

<style>
    .homepagebg {
        background: url(../Images/index_background.jpg);
        height: 300px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    #particles-js {
        position: absolute;
        z-index: 0;
        height: 100%;
        width: 99%;
    }
    .welcome-text {
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
    }
    .title-text {
        letter-spacing: 8px;
        position: relative;
        animation: text 5s 1;
    }

    @@keyframes text {
        0% {
            color: transparent;
            margin-bottom: 10px;
        }

        30% {
            letter-spacing: 25px;
            margin-bottom: 30px;
        }

        85% {
            letter-spacing: 8px;
        }
    }
</style>

<div class="text-center">
    <div class="homepagebg">
        <div id="particles-js"></div>
        <div class="col welcome-text">
            <span class="display-1 title-text">WELCOME @Model.LoginAdminusername.ToUpper()</span>
        </div>
    </div>

    <script type="text/javascript" src="../js/particles.min.js"></script>
    <script type="text/javascript" src="../js/app.js"></script>
</div>

<div class="container">
    <table class="table">
        <tr>
            <th>
                <button type="button" class="btn btn-outline-dark">Create Admin</button>
            </th>
            <th>
                <button type="button" class="btn btn-outline-dark">Create User</button>
            </th>
            <th>
                <button type="button" class="btn btn-outline-dark">More</button>
            </th>
        </tr>
    </table>
</div>

<div class="container">

    <div class="py-3">

        <h3 class="text-center py-2 text-secondary">Admin Information</h3>

        <table class="table ">
            <thead class="thead-dark">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.AdminRecord[0].AdminID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AdminRecord[0].AdminUserName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AdminRecord[0].AdminEmail)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AdminRecord[0].AdminPassword)
                    </th>
                    <th>
                        Actions
                    </th>

                    <continue!>

                </tr>
            </thead>


            @for (int i = 0; i < Model.AdminRecord.Count; i++)
            {
                <tr>
                    <td>@Model.AdminRecord[i].AdminID</td>

                    <td>@Model.AdminRecord[i].AdminUserName</td>

                    <td>@Model.AdminRecord[i].AdminEmail</td>

                    <td>@Model.AdminRecord[i].AdminPassword</td>

                    <td>
                        <a asp-page="/Admins/AdminUpdate" asp-route-id="@Model.AdminRecord[i].AdminID">Update</a>
                        <a class="disabled" aria-disabled="true">|</a>
                        <a asp-page="/Admins/AdminDelete" asp-route-id="@Model.AdminRecord[i].AdminID">Delete</a>
                    </td>

                    <continue!>
                </tr>
            }
        </table>
    </div>

    <h3 class="text-center py-2 text-secondary">User Information</h3>

    <table class="table ">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserRecord[0].MemberID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserRecord[0].UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserRecord[0].UserEmail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserRecord[0].UserCard)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserRecord[0].UserPassword)
                </th>
                <th>
                    Actions
                </th>


                <continue!>

            </tr>
        </thead>


        @for (int i = 0; i < Model.UserRecord.Count; i++)
        {
            <tr>
                <td>@Model.UserRecord[i].MemberID</td>

                <td>@Model.UserRecord[i].UserName</td>

                <td>@Model.UserRecord[i].UserEmail</td>

                <td>@Model.UserRecord[i].UserCard</td>

                <td>@Model.UserRecord[i].UserPassword</td>

                <td>
                    <a asp-page="/Admins/UserUpdate" asp-route-id="@Model.UserRecord[i].MemberID">Update</a>
                    <a class="disabled" aria-disabled="true">|</a>
                    <a asp-page="/Admins/UserDelete" asp-route-id="@Model.UserRecord[i].MemberID">Delete</a>
                </td>

                <continue!>
            </tr>
        }
    </table>

    <h3 class="text-center py-2 text-secondary">Services Information</h3>

</div>
