@page
@model Group_Project.Pages.Admins.AdminDeleteModel
@{
}

<div class="container">
    <h1 class="text-center pt-2 text-secondary">ADMIN  @Model.AdminRecord.AdminUserName.ToUpper() RECORD DELETE</h1>
    <h3 class="text-center pt-2 text-danger">Are you sure want to delete @Model.AdminRecord.AdminUserName's record?</h3>


    <form method="post">

        <div class="form-group">
            <label asp-for="AdminRecord.AdminID"></label>
            <input class="form-control" asp-for="AdminRecord.AdminID" placeholder="@Model.AdminRecord.AdminID" readonly>
        </div>

        <div class="form-group">
            <label asp-for="AdminRecord.AdminUserName"></label>
            <input class="form-control" asp-for="AdminRecord.AdminUserName" placeholder="@Model.AdminRecord.AdminUserName" readonly>
        </div>

        <div class="form-group">
            <label asp-for="AdminRecord.AdminEmail"></label>
            <input class="form-control" asp-for="AdminRecord.AdminEmail" placeholder="@Model.AdminRecord.AdminEmail" readonly>
        </div>

        <div class="form-group">
            <label asp-for="AdminRecord.AdminPassword"></label>
            <input class="form-control" asp-for="AdminRecord.AdminPassword" placeholder="@Model.AdminRecord.AdminPassword" readonly>
        </div>

        <input type="hidden" asp-for="AdminRecord.AdminID" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a class="btn btn-primary" asp-page="/Admins/AdminView">Cancel</a>

    </form>
</div>