@page
@model Group_Project.Pages.Admins.UserDeleteModel
@{
}


<div class="container">
    <h1 class="text-center pt-2 text-secondary">USER  @Model.UserRecord.UserName.ToUpper() RECORD DELETE</h1>
    <h3 class="text-center pt-2 text-danger">Are you sure want to delete @Model.UserRecord.UserName's record?</h3>


    <form method="post">

        <div class="form-group">
            <label asp-for="UserRecord.MemberID"></label>
            <input class="form-control" asp-for="UserRecord.MemberID" placeholder="@Model.UserRecord.MemberID" readonly>
        </div>

        <div class="form-group">
            <label asp-for="UserRecord.UserName"></label>
            <input class="form-control" asp-for="UserRecord.UserName" placeholder="@Model.UserRecord.UserName" readonly>
        </div>

        <div class="form-group">
            <label asp-for="UserRecord.UserEmail"></label>
            <input class="form-control" asp-for="UserRecord.UserEmail" placeholder="@Model.UserRecord.UserEmail" readonly>
        </div>

        <div class="form-group">
            <label asp-for="UserRecord.UserCard"></label>
            <input class="form-control" asp-for="UserRecord.UserCard" placeholder="@Model.UserRecord.UserCard" readonly>
        </div>

        <div class="form-group">
            <label asp-for="UserRecord.UserPassword"></label>
            <input class="form-control" asp-for="UserRecord.UserPassword" placeholder="@Model.UserRecord.UserPassword" readonly>
        </div>

        <input type="hidden" asp-for="UserRecord.MemberID" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a class="btn btn-primary" asp-page="/Admins/AdminView">Cancel</a>

    </form>
</div>
